body.dashboard {
  height: 100vh;
  overflow: hidden;
  background-color: #efefef;
  /* Dashboad sidebar Style */ }
  body.dashboard .dashboard-header {
    height: 74px;
    width: 100%;
    position: relative;
    background-color: #314150; }
    body.dashboard .dashboard-header * {
      line-height: 74px;
      margin-bottom: 0; }
    body.dashboard .dashboard-header .dashboard-header__logo {
      width: 195px;
      height: 74px;
      line-height: 74px;
      background-color: #13aabb; }
  body.dashboard .dashboard-sidebar {
    width: 195px;
    background-color: #314150;
    height: calc(100vh - 74px);
    overflow-y: auto;
    overflow-x: hidden;
    /* Dashboard sidebar menu */ }
    body.dashboard .dashboard-sidebar .dashboard-sidebar__menu {
      padding: 69px 0 70px;
      text-indent: 0;
      /* Dashboard sidebar Menu Item */ }
      body.dashboard .dashboard-sidebar .dashboard-sidebar__menu .dashboard-sidebar__menu-item {
        cursor: pointer;
        color: white;
        margin-bottom: 14px;
        /* Dashboard sidebar menu item icon */
        /* Dashboard sidebar menu item name */ }
        body.dashboard .dashboard-sidebar .dashboard-sidebar__menu .dashboard-sidebar__menu-item * {
          color: inherit; }
        body.dashboard .dashboard-sidebar .dashboard-sidebar__menu .dashboard-sidebar__menu-item .menu-item-icon {
          width: 87px;
          height: 87px;
          border-radius: 50%;
          margin: 0 auto;
          text-align: center;
          line-height: 87px;
          background: #999; }
          body.dashboard .dashboard-sidebar .dashboard-sidebar__menu .dashboard-sidebar__menu-item .menu-item-icon.default {
            background: #999; }
          body.dashboard .dashboard-sidebar .dashboard-sidebar__menu .dashboard-sidebar__menu-item .menu-item-icon.orange {
            background: #ed9028; }
          body.dashboard .dashboard-sidebar .dashboard-sidebar__menu .dashboard-sidebar__menu-item .menu-item-icon.blue {
            background: #0e6eb8; }
          body.dashboard .dashboard-sidebar .dashboard-sidebar__menu .dashboard-sidebar__menu-item .menu-item-icon.lightblue {
            background: #469fd9; }
          body.dashboard .dashboard-sidebar .dashboard-sidebar__menu .dashboard-sidebar__menu-item .menu-item-icon.teal {
            background: #1da196; }
          body.dashboard .dashboard-sidebar .dashboard-sidebar__menu .dashboard-sidebar__menu-item .menu-item-icon.green {
            background: #89bc43; }
        body.dashboard .dashboard-sidebar .dashboard-sidebar__menu .dashboard-sidebar__menu-item .menu-item-name {
          margin: 10px 0 0;
          padding: 0 30px;
          color: white;
          text-align: center;
          font-size: 14px;
          line-height: 16px; }
