body.dashboard{
    height: 100vh;
    overflow:hidden;
    background-color: #efefef;
    
    .dashboard-header{
        height: 74px;
        width: 100%;
        position: relative;
        background-color: #314150;
        
        *{
            line-height: 74px;
            margin-bottom: 0;
        }
        
        .dashboard-header__logo{
            width: 195px;
            height: 74px;
            line-height: 74px;
            background-color: #13aabb;
        }
    }
    
    .dashboard-sidebar{
        width: 195px;
        background-color: #314150;
        height: calc(100vh - 74px);
        overflow-y: auto;
        overflow-x: hidden;
        
        .dashboard-sidebar__menu{
            padding: 69px 0 70px;
            text-indent: 0;
            
            .dashboard-sidebar__menu-item{
                cursor:pointer;
                color: white;
                margin-bottom: 14px;
                
                *{
                    color:inherit;
                }
                
                .menu-item-icon{
                    width: 87px;
                    height: 87px;
                    border-radius: 50%;
                    margin: 0 auto;
                    text-align: center;
                    line-height: 87px;
                    background: #999;
                    &.default{
                        background: #999;
                    }
                    &.orange{
                        background: #ed9028;
                    }
                    &.blue{
                        background: #0e6eb8;
                    }
                    &.lightblue{
                        background: #469fd9;
                    }
                    &.teal{
                        background: #1da196;
                    }
                    &.green{
                        background: #89bc43;
                    }
                } /* Dashboard sidebar menu item icon */
                
                .menu-item-name{
                    margin: 10px 0 0;
                    padding: 0 30px;
                    color: white;
                    text-align: center;
                    font-size: 14px;
                    line-height: 16px;
                } /* Dashboard sidebar menu item name */
            } /* Dashboard sidebar Menu Item */
        } /* Dashboard sidebar menu */
    } /* Dashboad sidebar Style */
}