@import "../../common/css/mixin";

.banner-block {
  height: calc(100vh - 75px);
  background: url("../img/sign-up-banner.jpg") center center;
  background-size: cover;
  position: relative;
  min-height: 680px;
  .sign-up-block {
    position: absolute;
    right: 55px;
    top: 50%;
    @include css3-prefix(transform, translateY(-50%));
    background-color: rgba(255,255,255,.8);
    padding: 34px 80px;
    text-align: center;
    img {
      margin-bottom: 12px;
    }
    p {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      color: #1ba9ba;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}